<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Profile</title>
</head>

<body>
    <header class="header profile-header">
        <div class="container header-container">
            <a class="logo" href="/">
                Kunlik.UZ
            </a>

            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item"><a href="/#search" class="header-link">Buyurtmalar</a></li>
                    <li class="header-item"><a href="/create" class="header-link">Buyurtma berish</a></li>
                    <li class="header-item"><a href="/#search" class="header-link">Ish topish</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="profile-main">

        <section class="profiles">
            <div class="container profile-top">
                <h2 class="profile-title">Profile</h2>
                <div class="profile-owner">
                    <p class="owner-name">John Doe</p>
                </div>
            </div>
        </section>

        <!-- <div class="container">
            <ul class="profile-list">
                <li class="profile-item profile-item-active"><a href="#" class="profile-link">Buyurtmalarim</a></li>
                <li class="profile-item"><a href="#" class="profile-link">Sozlamalar</a></li>
            </ul>
        </div> -->

        <section class="settings">
            <div class="container">
                <h3 class="settings-title">Profil sozlamalari</h3>
                <div class="settings-about">
                    <div class="profile-settings-div profile-settings-top">
                        <img class="profile-setting-img" src="/images/worker.jpg" alt="owner" width="90" height="90">
                        <p class="profile-settings-text profile-settings-text-username">johndoe</p>
                    </div>

                    <div class="profile-settings-div">
                        <p class="profile-settings-left">Ism</p>
                        <p class="profile-settings-text">John Doe</p>
                    </div>

                    <div class="profile-settings-div">
                        <p class="profile-settings-left">Username</p>
                        <p class="profile-settings-text">johndoe</p>
                    </div>

                    <div class="profile-settings-div">
                        <p class="profile-settings-left">Email</p>
                        <p class="profile-settings-text">johndoe@mail.com</p>
                    </div>

                    <div class="profile-settings-div">
                        <p class="profile-settings-left">Bio</p>
                        <p class="profile-settings-text">No description, website, or topics provided.</p>
                    </div>

                    <div class="profile-settings-div">
                        <p class="profile-settings-left">Telefon raqam</p>
                        <p class="profile-settings-text">+998 97 565 71 73</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="myorders">
            <div class="container">
                <h3 class="settings-title">Buyurtmalarim</h3>
                <ul class="results my-orders">
                    <li class="result">
                        <a href="" class="result-link">
                            <div class="result-wrapper">
                                <img src="/images/result.jpg" alt="" class="result-img" width="200" height="196">
                                <div class="result-info">
                                    <div class="result-top">
                                        <h4 class="result-title">Devorni shkaturka qilish kerak (pishgan g’isht)</h4>
                                        <p class="result-direction">Qurilish</p>
                                    </div>
                                    <p class="result-text">In adipiscing scelerisque pulvinar vitae diam pellentesque
                                        ipsum. Nisl pulvinar auctor tincidunt vitae. Commodo viverra elit ultricies eget
                                        in velit sit ut. Sed vitae, mollis mauris volutpat tellus hendrerit...</p>
                                    <div class="result-bottom">
                                        <div class="result-bottom-left">
                                            <p class="result-price"><span>50000</span> so'm / kv</p>
                                            <p class="result-address">Toshkent, Labzak 24-dom | 2 kun oldin</p>
                                        </div>
                                        <a href="+998975657173" class="result-phonenumber">+998 97 565 71 73</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="result">
                        <a href="" class="result-link">
                            <div class="result-wrapper">
                                <img src="/images/result.jpg" alt="" class="result-img" width="200" height="196">
                                <div class="result-info">
                                    <div class="result-top">
                                        <h4 class="result-title">Devorni shkaturka qilish kerak (pishgan g’isht)</h4>
                                        <p class="result-direction">Qurilish</p>
                                    </div>
                                    <p class="result-text">In adipiscing scelerisque pulvinar vitae diam pellentesque
                                        ipsum. Nisl pulvinar auctor tincidunt vitae. Commodo viverra elit ultricies eget
                                        in velit sit ut. Sed vitae, mollis mauris volutpat tellus hendrerit...</p>
                                    <div class="result-bottom">
                                        <div class="result-bottom-left">
                                            <p class="result-price"><span>50000</span> so'm / kv</p>
                                            <p class="result-address">Toshkent, Labzak 24-dom | 2 kun oldin</p>
                                        </div>
                                        <a href="+998975657173" class="result-phonenumber">+998 97 565 71 73</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="result">
                        <a href="" class="result-link">
                            <div class="result-wrapper">
                                <img src="/images/result.jpg" alt="" class="result-img" width="200" height="196">
                                <div class="result-info">
                                    <div class="result-top">
                                        <h4 class="result-title">Devorni shkaturka qilish kerak (pishgan g’isht)</h4>
                                        <p class="result-direction">Qurilish</p>
                                    </div>
                                    <p class="result-text">In adipiscing scelerisque pulvinar vitae diam pellentesque
                                        ipsum. Nisl pulvinar auctor tincidunt vitae. Commodo viverra elit ultricies eget
                                        in velit sit ut. Sed vitae, mollis mauris volutpat tellus hendrerit...</p>
                                    <div class="result-bottom">
                                        <div class="result-bottom-left">
                                            <p class="result-price"><span>50000</span> so'm / kv</p>
                                            <p class="result-address">Toshkent, Labzak 24-dom | 2 kun oldin</p>
                                        </div>
                                        <a href="+998975657173" class="result-phonenumber">+998 97 565 71 73</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>


    </main>
    <script>
        if (!window.localStorage.getItem("token")) {
            window.location.href = "/"
        }
    </script>
</body>

</html>